.header{
    background-color: papayawhip;
    font-family: monospace;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 8px;
}

ul{
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.logo{
    background-color: white;
    color: tomato;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
    font-weight: 900;
}

a{
    background-color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
    font-size: 16px;
    
}