@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
    display: flex;
    justify-content: center;
    width: 480px;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, 2)    
}

.warning{
    font-size: 26px;
    font-weight: 700px;
    background: lavender;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.heading{
    font-size: 10px;
    margin: 10px;
    padding: 10px;
}

button.cross{
    background: #eee;
    border-radius: 50%;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 0;
  
}